# Dependencies
/node_modules

# Svelte-Kit build files
/.svelte-kit
/build

# Vite build files
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE files
.idea
.vscode

# OS files
.DS_Store
Thumbs.db
